<p style="color: green"><%= notice %></p>

<%= render @inherited_article %>

<div>
  <%= link_to "Edit this inherited_article", edit_inherited_article_path(@inherited_article) %> |
  <%= link_to "Back to inherited_articles", inherited_articles_path %>

  <%= button_to "Destroy this inherited_article", @inherited_article, method: :delete %>
</div>
